{{ block "login-page" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

    </head>

    <body>
        {{ template "login-form" . }}
    </body>

    {{ template "htmx-before-swap" . }}

</html>
{{ end }}


{{ block "login-form" . }}
    <div id="login-form" style="display: column;">
        <h1>Login</h1>
        <form action="/login" method="POST" hx-target="#login-form">
            <div id="login-form-login" style="display: flex;">
                <label>login</label>
                <input type="text" name="login"
                    {{ if .LoginValue }} value="{{ .LoginValue }}" {{ end }}>
            </div>

            <div id="login-form-password" style="display: flex;">
                <label>password</label>
                <input type="password" name="password"
                {{ if .PasswordValue }} value="{{ .PasswordValue }}" {{ end }}>
            </div>

            {{ if .Error }}
                <div style="color: red;">
                    {{ .Error }}
                <div>
            {{ end }}

            <div style="display: flex;">
                <button>login</button>
            </div>
        </form>
    </div>
{{ end }}
